<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>
    <bean id="dog" class="scalaspring.Dog">
        <constructor-arg value="Fido" />
    </bean>
    <bean id="cat" class="scalaspring.Cat">
        <constructor-arg value="Felix" />
    </bean>
</beans>
